<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            form{
                width: 500px;
                height: 450px;
                margin: 10px auto;
                padding: 10px;
                border: 1px solid gray;
            }
        </style>
    </head>
    <body>
        <div>
            <%- include ("../Partials/partial") -%>
        </div>
        <div>
            <form action="/events/edit" method="POST">
                <div class="form-group">
                  <label for="ID">ID</label>
                  <input type="text" class="form-control" id="ID" placeholder="Enter ID" name="_id" value="<%= data[0]._id %>">
                </div>
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" class="form-control" id="Name" placeholder="Enter Event Name" name="title" value="<%= data[0].title %>">
                </div>
                <div class="form-group">
                    <label for="Date">Date</label>
                    <input type="date" class="form-control" id="Date" placeholder="Enter Event Date" name="eventDate" value="<%= moment(data[0].eventDate).utc().format('YYYY-MM-DD') %>">
                </div>
                <div class="form-group">
                    <label >Main Speaker</label>
                    <select name="mainSpeaker">
                        <% data.userNames.forEach(function(element){ %>
                            <% if (element._id == data[0].mainSpeaker._id) { %>  
                                <option value="<%= element._id %>" selected="selected"><%= element.UserName %></option>
                            <% } else { %>                               
                                <option value="<%= element._id %>" ><%= element.UserName %></option>
                        <% }}) %>
                    </select>
                </div>
                <br/>
                
                    <div class="form-group">
                        <label >Other Speakers</label>
                        <select multiple name="otherSpeakers">
                            <% data.userNames.forEach(function(element){ %>
                                <% if (data[0].otherSpeakers.find(speaker => speaker._id ==  element._id)) { %>  
                                        <option value="<%= element._id %>" selected="selected"><%= element.UserName %></option>
                                    <% } else { %>
                                        <option value="<%= element._id %>"><%= element.UserName %></option>
                            <% }}) %>
                        </select>
                    <div>
                 <br/>   
                <button type="submit" class="btn btn-primary">Edit</button>
              </form>
        </div>
    </body>
</html>